


/* ------------------------------------------------------Header Styleing*/

.logo {
    padding:0px;
    height: 90px;
    position: relative;
    top:-15px;
}

.menu-item {
    text-align: center;
    margin-top: 40px;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-color: #e0a745;
    border-style: solid;
    font-size: 18px;
    font-family: 'Shrikhand', cursive;
    color:black;
    text-decoration: none;
    width:120px;
}

.bg-color-active{
    background-color:#ebbe2c;
}

.bg-color-index{
    background-color:#aebbc1;
}

.bg-color-media{
    background-color:#9caf92;
}

.bg-color-about{
    background-color:#aebbc1;
}

.bg-color-bookings{
    background-color:#9caf92;
}

.bg-color-menu{
    background-color:#aebbc1;
}

.navbar {
    height:99px;
    background: white;
    border-color: #e0a745;
    border-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar-right{
    position: relative;
    bottom: 0px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: #ebbe2c;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    transition: all .25s ease-in-out;
}

/*------------------------------------------------------------------NAVBAR TOGGLE BUTTON*/

.navbar-default .navbar-toggle {
    color:#e0a745;
    border-color: #e0a745;
    background-color: #ebbe2c;
    margin-top:30px;
    height: 40px;
    width: 40px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    color: #e0a745;
    background-color: #ebbe2c;
    transition: all .25s ease-in-out;
}

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fff;
    transition: all .25s ease-in-out;
}

/* The container <div> - needed to position the dropdown content */
/*.dropdown {
    position: fixed;
    top: 30px;
    right:0px;
    width: 60px;
    height:60px;
    font-size: 40px;
    text-align: center;
    
    color: #e0a745;
    background-color: #ebbe2c;
    border-radius: 10px;
    border-color: #e0a745;
    border-style: solid;
}*/

/* Dropdown Content (Hidden by Default) */
/*.dropdown-content {
    display: none;
    font-size:18px;
    position: absolute;
    right:55px;
    top:0px;
    border-radius: 10px;
    border-color: #e0a745;
    border-style: solid;
    background-color: #ebbe2c;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
   /* z-index: 2;*/


/* Links inside the dropdown 
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}*/

/* Change color of dropdown links on hover 
.dropdown-content a:hover {background-color: #ddd;}*/

/* Show the dropdown menu on hover 
.dropdown:hover .dropdown-content {display: block;}*/

/* Change the background color of the dropdown button when the dropdown content is shown 
.dropdown:hover .bg-color-menu {background-color: #3e8e41;}*/

/* ----------------------------------------------------Main Content Styleing*/
/* --------------------------------------Main Index Content Styleing*/
.main-content-wrapper {
    background-color: #ebbe2c;
    border-style: solid;
    margin-top:90px;
    min-height: 2000px;
    border-color: #e0a745;
}

.main-content {
    overflow: auto;
    margin-top: 30px;
}
.tour-table-container {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    border-color: #e0a745;
    border-style: solid;
    overflow:hidden;
    padding: 40px;
    height: auto;
    padding-top: 20px;
}

.tour-table {
    width:100%;
}

.tour-table-row {
    height:60px;
}

.main-vid-container{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    border-color: #e0a745;
    border-style: solid;
    height: auto;
    padding: 40px;
    padding-top: 20px;
}

/* --------------------------------------Main About Content Styleing*/
.band-pic {
    height: 150px;
    width: auto;
    margin: 10px;
}

.about-band {
    background-color: white;
    border-radius: 10px;
    border-color: #e0a745;
    border-style: solid;
}
.about-member {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    border-color: #e0a745;
    border-style: solid;
    height: 400px;
    max-width: 500px;
}

.vid-row {
    margin:30px;
}

.video-res{
    width:30%;
    height: auto;
}

/* --------------------------------------Main Bookings Content Styleing*/

.booking-form-entry{
    border-radius: 10px;
    border-color: #e0a745;
    border-style: solid;
}



/* ------------------------------------------------------Footer Styleing*/

.footer{
    height:30px;
    padding-top:4px;
    position:fixed;
    bottom: 0px;
    left: 0px;
    background-color: white;
    width: 100%;
    text-align: center;
    border-color: #e0a745;
    border-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: hidden

}
.social-links {
   text-align: center;
   font-size: 20px
}

/*------------------------------------------------------------------Media Querries*/

